NEXT_PUBLIC_APP_URL=http://localhost:3000

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Prisma
DATABASE_URL=postgresql://

#Resend
RESEND_API_KEY=

EMAIL_FROM="Example <onboarding@resend.dev>"
