# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Prisma
DATABASE_URL="postgresql://..."
DATABASE_URL_UNPOOLED="postgresql://..."


#Resend
RESEND_API_KEY=

EMAIL_FROM="Example <onboarding@resend.dev>"

TELEGRAM_BOT_TOKEN="dummy"

CRON_SECRET=L0iPtlo9D6OtrV8ZFOCWlKaTIOSMCee4n98YAa/a+kY=
